.day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color1);
    font: bold 21px Inter, sans-serif;
    color: var(--text-color1);
    width: 173px;
    height: 173px;
    padding: 22px;
    border-radius: 16px;
}

.dayNum {
    font-size: 60px;
}

.daySelected {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color-1);
    font: bold 21px Inter, sans-serif;
    color: var(--text-color1);
    width: 173px;
    height: 173px;
    padding: 22px;
    border-radius: 16px;
}